In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'data.txt',
 'geocoding_gerry.ipynb',
 'geocoding_gerry.py',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'VoterFile1.csv',
 'VoterFile10.csv',
 'VoterFile10.xlsx',
 'VoterFile100.csv',
 'VoterFile1000.csv',
 'VoterFile10_clean.csv',
 'VoterFile500.csv']

In [2]:
import pandas
df=pandas.read_csv("VoterFile10_clean.csv")
df

  VOTER_ID;RESIDENTIAL_ADDRESS;RESIDENTIAL_CITY;RESIDENTIAL_STATE;RESIDENTIAL_ZIP_CODE;RESIDENTIAL_ZIP_PLUS;COUNTRY;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
0  600028381;12 S MAIN ST;ALMA;CO;80420;;USA;;;;;...
1  1460048;1715 E 16TH AVE;DENVER;CO;80218;;USA;;...
2  547847;362 DICK MOUNTAIN DR;BAILEY;CO;80421;20...
3  601171490;1200 S ONEIDA ST APT 5-208;DENVER;CO...
4  200023657;1830 WOODBURN ST;COLO SPRINGS;CO;809...
5  200273982;1830 WOODBURN ST;COLO SPRINGS;CO;809...
6  601498361;5409 S IRIS ST;LITTLETON;CO;80123;;U...
7  601371738;10685 COUNTY ROAD 23;FT LUPTON;CO;80...
8  600390117;2634 PATTERSON RD;GRAND JUNCTION;CO;...
9  2264586;3032 BOOKCLIFF AVE;GRAND JUNCTION;CO;8...

In [ ]:
df=df["RESIDENTIAL_ADDRESS"]=df["RESIDENTIAL_ADDRESS"]+", "+df["RESIDENTIAL_CITY"]+", "+df["RESIDENTIAL_STATE"]+", "+str(df["RESIDENTIAL_ZIP_CODE"])
df

In [3]:
from geopy.geocoders import ArcGIS

In [4]:
nom=ArcGIS()

In [11]:
n=nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [12]:
n.latitude

37.75299358728148

In [13]:
type(n)

geopy.location.Location

In [14]:
df=pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [15]:
df["Address"]=df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [16]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df.Coordinates

0    (3666 21st St, San Francisco, California, 9411...
1    (735 Dolores St, San Francisco, California, 94...
2    (332 Hill St, San Francisco, California, 94114...
3    (3995 23rd St, San Francisco, California, 9411...
4    (1056 Sanchez St, San Francisco, California, 9...
5    (551 Alvarado St, San Francisco, California, 9...
Name: Coordinates, dtype: object

In [17]:
df.Coordinates[0]

Location(3666 21st St, San Francisco, California, 94114, (37.75644449321933, -122.42935314363206, 0.0))

In [18]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"]=df["Coordinates"].apply(lambda y: y.longitude if y != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756444,-122.429353
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757801,-122.425594
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755650,-122.428790
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752994,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752144,-122.429754
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753709,-122.433246